<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEwouSRIJz9PTnbnkol4Ah5jlNWQU_WF8</string>
	<key>GCM_SENDER_ID</key>
	<string>10789844466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devember.kudoo</string>
	<key>PROJECT_ID</key>
	<string>kudoo-36de9</string>
	<key>STORAGE_BUCKET</key>
	<string>kudoo-36de9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10789844466:ios:9a07ae8ca6d19a3a6b276b</string>
</dict>
</plist>